@import "bootstrap/scss/bootstrap";

html, body, #app {
    margin: 0;
    min-height: 100vh;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #176d17 !important;
    border: 0;

    &:hover {
        background-color: #114e11 !important;
    }
}

a {
    color: inherit !important;
    
    text-decoration: none !important;
    font-weight: bold;
    text-decoration-color: inherit !important;

    &:hover {
        color: #176d17 !important;
        text-decoration-color: inherit !important;
    }
}
